<div class="progress no-print" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div ng-show="env.loading==false">
    <ol class="breadcrumb no-print">
        <li><a href="#" ui-sref="index" translate>Home</a></li>
        <li class="active" translate>My Races</li>
    </ol>

    <div class="page-header">
        <h1 translate>My Races</h1>
    </div>



    <br>

    <div class="row no-print">
        <div class="col-md-2">
            <button ng-click="print()" class="btn btn-success" translate>Print</button>
        </div>
    </div>
    <br>

    <div class="row no-print">
        <div class="col-md-3">
            <input type="text" ng-model="env.filters.nom" class="form-control"
                   placeholder="{{'Name'|translate}}">
        </div>
        <div class="col-md-3">
            <select ng-model="env.filters.season" class="form-control" ng-options="season as season for season in env.seasons">
                <option value="" translate>Select season</option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                    <div class="input-append">
                        <input type="text" class="input-large form-control" placeholder="{{'Date'|translate}}" value="{{env.filters.printData|date:'yyyy-MM-dd'}}"><span class="add-on"></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="env.filters.printData"
                                    data-datetimepicker-config="{ minView: 'day',dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
                </ul>
            </div>

        </div>

        <div class="col-md-2">
            <button ng-click="env.filters={}" class="btn btn-default" translate>Reset</button>
        </div>
    </div>
    <br>

    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table" ng-show=" env.posts.length>0">
                <tr align="center">
                    <th translate>Date</th>
                    <th translate>Race</th>
                    <th translate>Km</th>
                    <th translate>+Slope</th>

                    <th translate class="no-print">Ranking</th>
                    <th translate class="no-print">Time</th>
                    <th translate class="no-print">Feelings</th>
                    <th translate class="no-print">Rating</th>
                    <th translate class="no-print">Comments</th>
                    <th translate class="no-print" style="width: 200px">Coach Comments</th>
                    <th translate class="no-print" ng-show="user.isAthlete()">Save</th>
                </tr>
                <tr align="center" ng-repeat="post in env.posts|orderBy:'sortData'">
                    <td>{{ post.getCurseData() }}</td>
                    <td>{{ post.get('nomcursa').get('nom') }}</td>
                    <td>{{ post.get('nomcursa').get('distancia') }}</td>
                    <td>{{ post.get('nomcursa').get('desnivell') }}</td>

                    <td ng-show="user.isAthlete()" class="no-print">
                        <input ng-disabled="post.isFull==true || post.isPastRast==true" type="number" style="font-size:16px;width:80px"
                               class="form-control" ng-model="post.posabs">
                    </td>

                    <td class="no-print">
                        <div ng-show="user.isAthlete()">
                            <input ng-disabled="post.isFull==true || post.isPastRast==true" type="text" style="font-size:16px;width:100px"
                                   class="form-control" placeholder="hh:mm:ss" ng-model="post.temps_segons"
                                   ui-time-mask>
                        </div>
                    </td>
                    <td class="no-print">
                        <div ng-show="user.isAthlete()">
                            <select ng-disabled="post.isFull==true || post.isPastRast==true" class="form-control"
                                    ng-model="post.feelings">
                                <option value="Superb" translate>Superb!</option>
                                <option value="Good" translate>Good!</option>
                                <option value="Fine" translate>Fine!</option>
                                <option value="Muscle pain" translate>Muscle pain</option>
                                <option value="Stomach ache" translate>Stomach ache</option>
                                <option value="No finish" translate>No finish</option>
                                <option value="Cancel" translate>Cancel</option>
                            </select>
                        </div>
                    </td>
                    <td class="no-print">
                        <div ng-show="user.isAthlete()">
                            <select ng-disabled="post.isFull==true || post.isPastRast==true" class="form-control"
                                    ng-model="post.rating"
                                    style="width:80px"
                                    ng-options="value for value in [10,9,8,7,6,5,4,3,2,1,0]">
                                <option value="" translate>Select Rating</option>
                            </select>
                        </div>
                    </td>

                    <td class="no-print" ng-show="user.isAthlete()">
                        <textarea style="width:300px;height:100px"
                                  ng-disabled="post.isFull==true || post.isPastRast==true" class="form-control"
                                  ng-model="post.comments"></textarea>
                    </td>

                    <td class="no-print" ng-show="user.isAthlete()">

                        {{post.coachComments|| post.defaultCoachComment.get('answer_'+user.language)}}
                    </td>
                    <td class="no-print" ng-show="user.isAthlete()">

                        <button
                                ng-hide="post.isFull==true"
                                ng-disabled="post.checkFeedback() || post.isPastRast==true"
                                class="btn btn-primary" translate ng-click="saveResult(post)" translate>Save
                        </button>

                        <button
                                ng-show="post.isFull==true"
                                class="btn btn-primary" translate ng-click="post.isFull=false" translate>Edit
                        </button>
                        <button class="btn btn-primary" translate ng-click="unjoin(post, $index)" translate>UnJoin
                        </button>

                    </td>

                </tr>
            </table>


            <div class="jumbotron no-print" ng-show=" env.posts.length==0">
                <h1 translate>Ops!</h1>

                <p translate>No Races</p>
            </div>
        </div>
    </div>
</div>