<ol class="breadcrumb">
    <li><a href="#" ui-sref="index" translate>Home</a></li>
    <li class="active" translate>Races</li>
</ol>

<div class="page-header">
    <h1 translate>Races</h1>
</div>
<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div ng-show="env.loading==false">
    <br>

    <div class="row" >
        <div class="col-md-2">
            <button ui-sref="race-add" class="btn btn-success" translate>Add Race</button>
        </div>
    </div>
    <br>

    <div class="row no-print">
        <div class="col-md-1">
            <input style="width: 110px!important;" type="text" class="input-large form-control"
                   ng-model="env.filters.nom"
                   placeholder="{{'Name'|translate}}">
            </div>

        <div class="col-md-1">
            <div class="dropdown">
                <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown"
                   data-target="#" href="">
                    <div class="input-append">
                        <input style="width: 110px!important;" type="text" class="input-large form-control" placeholder="{{'Date'|translate}}"
                               value="{{env.filters.printData|date:'yyyy-MM-dd'}}">
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="env.filters.printData"
                                    data-datetimepicker-config="{ minView: 'day',dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
                </ul>
            </div>
        </div>


        <div class="col-md-2">

            <select class="form-control" ng-model="env.filters.country"
                    ng-options="country as country.get(user.language) for country in env.country">
                <option value="" translate>Select Country</option>
            </select>
        </div>

        <div class="col-md-1">

            <select class="form-control"
                    ng-disabled="!env.filters.country"
                    ng-model="env.filters.zone"
                    ng-options="zone as zone.get(user.language) for zone in env.filters.country.get('zones')|orderObjectBy:user.language">
                <option value="" translate>Select Zone</option>
            </select>
        </div>


        <div class="col-md-2">
            <select class="form-control" required ng-model="env.filters.categoria">
                <option value="" translate>Select Category</option>
                <option value="T" translate>Trail</option>
                <option value="UT" translate>Ultra trail</option>
                <option value="KV" translate>Vertical Kilometer</option>
                <option value="MM" translate>Mountain Marathon</option>
                <option value="R" translate>Road</option>
                <option value="RM" translate>Road Marathon</option>
                <option value="10K" translate>Road 10 km</option>
                <option value="RHM" translate>Road Half Marathon</option>
                <option value="ROAD" translate>Road cycling</option>
                <option value="BTT" translate>Mountain biking</option>
                <option value="TRI" translate>Triathlon</option>
                <option value="SKI" translate>Ski</option>
                <option value="O" translate>Orienteering</option>
                <option value="RC" translate>Trainning with RCurto</option>
            </select>
        </div>

        <div class="col-md-2">
            <select class="form-control" ng-model="env.filters.circuit"
                    ng-options="circuit as circuit.get('nom') for circuit in env.circuits">
                <option value="" translate>Select Circuit</option>
            </select>
        </div>

        <div class="col-md-1">
            <select class="form-control" ng-model="env.filters.month">
                <option value="" translate>Select Month</option>
                <option value="0" translate>January</option>
                <option value="1" translate>February</option>
                <option value="2" translate>March</option>
                <option value="3" translate>April</option>
                <option value="4" translate>May</option>
                <option value="5" translate>June</option>
                <option value="6" translate>July</option>
                <option value="7" translate>August</option>
                <option value="8" translate>September</option>
                <option value="9" translate>October</option>
                <option value="10" translate>November</option>
                <option value="11" translate>December</option>
            </select>
        </div>
        <div class="col-md-1">
            <button ng-click="env.filters={}" class="btn btn-default" translate>Reset</button>
        </div>
    </div>
    <br>

    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-striped" at-table at-paginated at-list="env.posts" at-config="config"
                   ng-show="env.loading==false && env.posts.length>0">
                <thead></thead>
                <tbody>
                <tr align="center" ng-class="{ 'info' : !item.isPastRace }">
                    <td at-sortable at-attribute="data" at-title="{{'Date'|translate}}" at-initial-sorting="asc" style="width: 100px">
                        {{item.printData}}
                    </td>
                    <td at-implicit at-sortable at-attribute="nom" at-title="{{'Race'|translate}}"></td>
                    <td at-implicit at-sortable at-attribute="distancia" at-title="{{'Km'|translate}}"></td>
                    <td at-implicit at-sortable at-attribute="desnivell" at-title="{{'+Slope'|translate}}"></td>
                    <td at-implicit at-sortable at-attribute="poblacio" at-title="{{'City'|translate}}"></td>
                    <td at-sortable  at-title="{{'Zone'|translate}}">
                        {{ item.get('zone').get(user.language) }}
                    </td>
                    <td at-attribute="category" at-title="{{'Circuit'|translate}}">
                        {{ item.get('circuit').get('nom') }}
                    </td>

                    <td ng-show="user.isAthlete()" class="text-right">
                        <div class="col-md-6" ng-show="user.joinCourses.indexOf(item.getId())==-1">
                            <select class="form-control" ng-model="item.objective" ng-disabled="!item.isPastRace">
                                <option value="" translate>Select Objective</option>
                                <option value="principal" translate>PRINCIPAL</option>
                                <option value="secondary" translate>SECONDARY</option>
                            </select>
                        </div>
                        <div ng-class="{'col-md-6' : user.joinCourses.indexOf(item.getId())==-1, 'col-md-12': user.joinCourses.indexOf(item.getId())!=-1}">
                            <button ng-disabled="item.objective==undefined"
                                    ng-show="user.joinCourses.indexOf(item.getId())==-1"
                                    ng-click="item.join(item.objective, user)" class="btn btn-primary" translate>
                                Join
                            </button>
                            <button ng-disabled="user.joinCourses.indexOf(item.getId())!=-1"
                                    ng-show="user.joinCourses.indexOf(item.getId())!=-1"
                                    class="btn btn-success" translate>joined
                            </button>
                            <button ui-sref="race-edit({id:item.getId()})" class="btn btn-default" translate>Edit
                            </button>
                        </div>

                    </td>

                </tr>
                </tbody>
            </table>

            <at-pagination at-list="env.posts" at-config="config"></at-pagination>


            <div class="jumbotron" ng-show="env.loading==false && env.posts.length==0">
                <h1 translate>Ops!</h1>

                <p translate>No Races</p>
            </div>
        </div>
    </div>
</div>