<div class="progress no-print" ng-show="env.user==null">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div class="row" ng-show="env.user!=null">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase" translate>Profile Account</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab" translate>Personal Info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_8" data-toggle="tab" translate>Password</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab" translate>Technical Info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab" translate>Races History</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_4" data-toggle="tab" translate>Medical History</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_5" data-toggle="tab" translate>Daily Activity</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_6" data-toggle="tab" translate>Nutritional Info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_7" data-toggle="tab" translate>Performance</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_10" data-toggle="tab" translate>Training Zones</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_9" data-toggle="tab" translate>Material</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label" translate>First Name</label>
                                <input type="text" placeholder="John" class="form-control" ng-model="env.model.firstName"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Last Name</label>
                                <input type="text" placeholder="Doe" class="form-control" ng-model="env.model.lastName"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" translate>User Photo</label>
                                <upload ng-model="env.model.photo"></upload>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Mobile Number</label>
                                <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control" ng-model="env.model.phone"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>E-mail</label>
                                <input type="text" placeholder="joe@mail.name" class="form-control" ng-model="env.model.email"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Occupation</label>
                                <input type="text" placeholder="Web Developer" class="form-control" ng-model="env.model.occupation"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Address</label>
                                <input type="text" class="form-control" ng-model="env.model.adress"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>City</label>
                                <input type="text" class="form-control" ng-model="env.model.city"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Province</label>
                                <input type="text"  ng-model="env.model.province" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Country</label>
                                <input type="text" ng-model="env.model.country" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Language</label>
                                <select ng-model="env.model.language" class="form-control">
                                    <option value="english" translate>English</option>
                                    <option value="catalan" translate>Catalan</option>
                                    <option value="french" translate>French</option>
                                    <option value="spanish" translate>Spanish</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>T-Shirt size</label>
                                <input type="text" ng-model="env.model.tShirtSize" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Training Plan</label>
                                <select ng-model="env.model.trainingPlan" class="form-control" disabled>
                                    <option value="basic" translate>Basic</option>
                                    <option value="pro" translate>Pro</option>
                                    <option value="premium" translate>Premium</option>
                                    <option value="elite" translate>Elite</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" translate>Community? (appear or not in landing page)</label>
                                <select ng-model="env.model.showOnLanding" class="form-control">
                                    <option value="Yes" translate>Yes</option>
                                    <option value="No" translate>No</option>
                                </select>
                            </div>

                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel </a>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_1_8">
                        <form role="form" action="#" name="passwordForm">
                            <div class="form-group">
                                <label class="control-label" translate>Password</label>
                                <input type="password" placeholder="****" class="form-control" ng-model="env.password.first" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Repeat Password</label>
                                <input type="password" placeholder="****" class="form-control" ng-model="env.password.last" required/>
                            </div>


                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true || passwordForm.$invalid || env.password.first!=env.password.last" ng-click="changePassword(env.password.first, env.password.last)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    <div class="tab-pane" id="tab_1_2">
                        <form role="form" action="#">
                        <div class="form-group">
                                <label class="control-label" translate>Date of birth</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle my-toggle-select" id="dropdown1" role="button"
                                   data-toggle="dropdown" data-target="#" href="">
                                    <div class="input-append">

                                        <input type="text" required class="form-control input-large" name="data"
                                               value="{{env.model.birth|date:'dd-MM-yyyy'}}"></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="env.model.birth"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown1', minView:'day' }"></datetimepicker>
                                </ul>
                            </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Height</label>
                                <input type="text" class="form-control" ng-model="env.model.height"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Width</label>
                                <input type="text" class="form-control" ng-model="env.model.width"/>
                            </div>
                           
                            <div class="form-group">
                                <label class="control-label" translate>Years of Training</label>
                                <input type="text" class="form-control" ng-model="env.model.yearsOfTraining"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Other Sports</label>
                                <input type="text" class="form-control" ng-model="env.model.otherSports"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Sessions per week</label>
                                <input type="text" class="form-control" ng-model="env.model.sessionsPerWeek"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Hours per week</label>
                                <input type="text" class="form-control" ng-model="env.model.hoursPerWeek"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Gym</label>
                                <select ng-model="env.model.gym" class="form-control">
                                    <option value="Yes" translate>Yes</option>
                                    <option value="No" translate>No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Uphills</label>
                                <select ng-model="env.model.uphills" class="form-control">
                                    <option value="Yes" translate>Yes</option>
                                    <option value="No" translate>No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Athletics track</label>
                                <select ng-model="env.model.athleticsTrack" class="form-control">
                                    <option value="Yes" translate>Yes</option>
                                    <option value="No" translate>No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Road bike</label>
                                <select ng-model="env.model.roadBike" class="form-control">
                                    <option value="Yes" translate>Yes</option>
                                    <option value="No" translate>No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Mountain bike</label>
                                <select ng-model="env.model.mountainBike" class="form-control">
                                    <option value="Yes" translate>Yes</option>
                                    <option value="No" translate>No</option>
                                </select>
                            </div>
                           
                            <div class="form-group">
                                <label class="control-label" translate>Season goals</label>
                                <input type="text" class="form-control" ng-model="env.model.seasonGoals"/>
                            </div>

                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">

                        <table class="table">
                            <tr>
                                <th translate>Race</th>
                                <th translate>Time</th>
                                <th translate>Ranking</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="race in env.model.raceHistory">
                                <td><input type="text" class="form-control" ng-model="race.name" ></td>
                                <td><input type="text" class="form-control" ng-model="race.time"></td>
                                <td><input type="text" class="form-control" ng-model="race.ranking"></td>
                                <td><button class="btn btn-normal" ng-click="env.model.raceHistory.splice($index, 1)" translate>Remove</button></td>
                            </tr>
                            <tr>
                                <td colspan="4"><button class="btn btn-normal" ng-click="env.model.raceHistory.push({})" translate>Add</button></td>
                            </tr>
                        </table>


                        <div class="margiv-top-10">
                            <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                            <a href="#" class="btn default" ui-sref="index" translate>Cancel </a>
                        </div>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                    <!-- PRIVACY SETTINGS TAB -->
                    <div class="tab-pane" id="tab_1_4">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label" translate>Last medical test</label>
                                <input type="text" class="form-control" ng-model="env.model.lastMedicalTest"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Comments</label>
                                <textarea class="form-control" ng-model="env.model.comments"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Last blood test</label>
                                <input type="text" class="form-control" ng-model="env.model.lastBloodTest"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Meds</label>
                                <input type="text" class="form-control" ng-model="env.model.meds"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Injuries</label>
                                <input type="text" class="form-control" ng-model="env.model.injuries"/>
                            </div>


                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PRIVACY SETTINGS TAB -->

                    <div class="tab-pane" id="tab_1_5">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label" translate>Availability days</label>
                                <input type="text" class="form-control" ng-model="env.model.availabilityDays"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Rest days</label>
                                <input type="text" class="form-control" ng-model="env.model.restDays"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Physical activity work</label>
                                <select ng-model="env.model.physicalActivityWork" class="form-control">
                                    <option value="hard" translate>Hard</option>
                                    <option value="medium" translate>Medium</option>
                                    <option value="low" translate>Low</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Hours of training</label>
                                <select ng-model="env.model.hoursTraining" class="form-control">
                                    <option value="morning" translate>Morning</option>
                                    <option value="afternoon" translate>Afternoon</option>
                                    <option value="both" translate>Both</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Training time per day</label>
                                <input type="text" class="form-control" ng-model="env.model.trainingTimePerDay"/>
                            </div>


                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel </a>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_1_6">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label" translate>Favourite foods</label>
                                <input type="text" class="form-control" ng-model="env.model.favouriteFoods"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Hated foods</label>
                                <input type="text" class="form-control" ng-model="env.model.hatedFoods"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Fruits per day</label>
                                <input type="text" class="form-control" ng-model="env.model.fruitsPerDay"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Vegetables per day</label>
                                <input type="text" class="form-control" ng-model="env.model.vegetablesPerDay"/>

                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Meals per day</label>
                                <input type="text" class="form-control" ng-model="env.model.mealsPerDay"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Food allergies</label>
                                <input type="text" class="form-control" ng-model="env.model.foodAllergies"/>
                            </div>
                           <div class="form-group">
                                <label class="control-label" translate>Ergogenic aids Favourite Brand</label>
                                <select ng-model="env.model.ergogenicAids" class="form-control">
                                    <option value="226ERS">226ERS</option>
                                    <option value="Amix Performance">Amix Performance</option>
                                    <option value="Aptonia">Aptonia</option>
                                    <option value="Born">Born</option>
                                    <option value="Chimpanzee">Chimpanzee</option>
                                    <option value="Clif Bar">Clif Bar</option>
                                    <option value="Etixx">Etixx</option>
                                    <option value="GU">GU</option>
                                    <option value="High5">High5</option>
                                    <option value="InfiSport">InfiSport</option>
                                    <option value="Isostar">Isostar</option>
                                    <option value="Keepgoing">Keepgoing</option>
                                    <option value="Maxifuel">Maxifuel</option>
                                    <option value="Maxim">Maxim</option>
                                    <option value="Multipower">Multipower</option>
                                    <option value="Nutrisport">Nutrisport</option>
                                    <option value="Nutrixxion">Nutrixxion</option>
                                    <option value="Nutrytec">Nutrytec</option>
                                    <option value="Powerbar">Powerbar</option>
                                    <option value="Science in Sport">Science in Sport</option>
                                    <option value="Scitec Nutrition">Scitec Nutrition</option>
                                    <option value="SiS">SiS</option>
                                    <option value="Sponser">Sponser</option>
                                    <option value="Torq">Torq</option>
                                    <option value="Victory Endurance">Victory Endurance</option>
                                    <option value="Wcup">Wcup</option>
                                    <option value="Weider Nutrition">Weider Nutrition</option>
                                    <option value="WinForce">WinForce</option>
                                    <option value="Zipvit">Zipvit</option>
                                    <option value="Other" translate>Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Last Breakfast</label>
                                <input type="text" class="form-control" ng-model="env.model.lastBreakfast"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Last Snack</label>
                                <input type="text" class="form-control" ng-model="env.model.lastSnack"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Last Lunch</label>
                                <input type="text" class="form-control" ng-model="env.model.lastLunch"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Last Dinner</label>
                                <input type="text" class="form-control" ng-model="env.model.lastDinner"/>
                            </div>
                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel</a>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_1_7">
                        <form role="form" action="#">
                        <div class="form-group">
                                <label class="control-label">VO2max</label>
                                <input type="number" class="form-control" ng-model="env.model.VO2max"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>HRmax</label>
                                <input type="number" class="form-control" ng-model="env.model.hrMax"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>HRrest</label>
                                <input type="number" class="form-control" ng-model="env.model.hrRest"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>%VT1</label>
                                <input type="number" class="form-control" ng-model="env.model.VT1"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>%VT2</label>
                                <input type="number" class="form-control" ng-model="env.model.VT2"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>Recovery 60" (%)</label>
                                <input type="number" class="form-control" ng-model="env.model.rec60"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Recovery 120"(%)</label>
                                <input type="number" class="form-control" ng-model="env.model.rec120"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>Sweat Rate</label>
                                <input type="number" class="form-control" ng-model="env.model.sweat"/>
                            </div>

                           
                            <div class="form-group">
                                <label class="control-label" translate>Record Road Marathon</label>
                                <input type="text" class="form-control" ng-model="env.model.record42" placeholder="hh:mm:ss" ui-time-mask/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Record Road Half-Marathon</label>
                                <input type="text" class="form-control" ng-model="env.model.record21" placeholder="hh:mm:ss" ui-time-mask/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Record Road 10k</label>
                                <input type="text" class="form-control" ng-model="env.model.record10" placeholder="hh:mm:ss" ui-time-mask/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>400 meters (sec)</label>
                                <input type="text" class="form-control" ng-model="env.model.test400" placeholder="hh:mm:ss" ui-time-mask/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>1000 meters (sec)</label>
                                <input type="text" class="form-control" ng-model="env.model.test1000" placeholder="hh:mm:ss" ui-time-mask/>
                            </div>
                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel</a>
                            </div>
                        </form>
                    </div>
<!-- ZONES TAB -->
				<div class="tab-pane" id="tab_1_10">
                        <form role="form" action="#">
                        <div class="form-group">
                                <label class="control-label" translate>R1 - RECOVERY</label>
                                <input type="number" class="form-control" ng-model="env.model.R1"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>R2 - AEROBIC THRESHOLD</label>
                                <input type="number" class="form-control" ng-model="env.model.R2"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>R3 - TEMPO AEROBIC</label>
                                <input type="number" class="form-control" ng-model="env.model.R3"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>R4 - AEROBIC/ANAEROBIC TRANSITION</label>
                                <input type="number" class="form-control" ng-model="env.model.R4"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>R5 - LACTATE THRESHOLD</label>
                                <input type="number" class="form-control" ng-model="env.model.R5"/>
                            </div>
                             <div class="form-group">
                                <label class="control-label" translate>R6 - ANAEROBIC ALACTIC</label>
                                <input type="number" class="form-control" ng-model="env.model.R6"/>
                            </div>
                            
                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel</a>
                            </div>
                        </form>
                    </div>
                    <!-- ZONES TAB -->
                    <!-- MATERIAL TAB -->
                     <div class="tab-pane" id="tab_1_9">
                        <form role="form" action="#">

                            <div class="form-group">
                                <label class="control-label" translate>Running watch model</label>
                                <select ng-model="env.model.runningWatchModel" class="form-control">
                                    <option value="Adidas Smart Run GPS">Adidas Smart Run GPS</option>
                                    <option value="Bia GPS">Bia GPS</option>
                                    <option value="Bryton Cardio 60 Multisport Watch">Bryton Cardio 60 Multisport Watch</option>
                                    <option value="CycleOps Joule 2.0">CycleOps Joule 2.0</option>
                                    <option value="Epson SF-810">Epson SF-810</option>
                                    <option value="FINIS Swimsense">FINIS Swimsense</option>
                                    <option value="Fitbit Surge">Fitbit Surge</option>
                                    <option value="Garmin Edge 1000">Garmin Edge 1000</option>
                                    <option value="Garmin Edge 20">Garmin Edge 20</option>
                                    <option value="Garmin Edge 200">Garmin Edge 200</option>
                                    <option value="Garmin Edge 25">Garmin Edge 25</option>
                                    <option value="Garmin Edge 500">Garmin Edge 500</option>
                                    <option value="Garmin Edge 510">Garmin Edge 510</option>
                                    <option value="Garmin Edge 520">Garmin Edge 520</option>
                                    <option value="Garmin Edge 705">Garmin Edge 705</option>
                                    <option value="Garmin Edge 800">Garmin Edge 800</option>
                                    <option value="Garmin Edge 810">Garmin Edge 810</option>
                                    <option value="Garmin Edge Touring">Garmin Edge Touring</option>
                                    <option value="Garmin Epix">Garmin Epix</option>
                                    <option value="Garmin Fenix">Garmin Fenix</option>
                                    <option value="Garmin Fenix 2">Garmin Fenix 2</option>
                                    <option value="Garmin Fenix 3">Garmin Fenix 3</option>
                                    <option value="Garmin Forerunner 10">Garmin Forerunner 10</option>
                                    <option value="Garmin Forerunner 110">Garmin Forerunner 110</option>
                                    <option value="Garmin Forerunner 15">Garmin Forerunner 15</option>
                                    <option value="Garmin Forerunner 210">Garmin Forerunner 210</option>
                                    <option value="Garmin Forerunner 220">Garmin Forerunner 220</option>
                                    <option value="Garmin Forerunner 225">Garmin Forerunner 225</option>
                                    <option value="Garmin Forerunner 230">Garmin Forerunner 230</option>
                                    <option value="Garmin Forerunner 235">Garmin Forerunner 235</option>
                                    <option value="Garmin Forerunner 25">Garmin Forerunner 25</option>
                                    <option value="Garmin Forerunner 305">Garmin Forerunner 305</option>
                                    <option value="Garmin Forerunner 310XT">Garmin Forerunner 310XT</option>
                                    <option value="Garmin Forerunner 405">Garmin Forerunner 405</option>
                                    <option value="Garmin Forerunner 410">Garmin Forerunner 410</option>
                                    <option value="Garmin Forerunner 60/70">Garmin Forerunner 60/70</option>
                                    <option value="Garmin Forerunner 610">Garmin Forerunner 610</option>
                                    <option value="Garmin Forerunner 620">Garmin Forerunner 620</option>
                                    <option value="Garmin Forerunner 630">Garmin Forerunner 630</option>
                                    <option value="Garmin Forerunner 910XT">Garmin Forerunner 910XT</option>
                                    <option value="Garmin Forerunner 920XT">Garmin Forerunner 920XT</option>
                                    <option value="Garmin Swim">Garmin Swim</option>
                                    <option value="Garmin Tactix">Garmin Tactix</option>
                                    <option value="Garmin Vivoactive">Garmin Vivoactive</option>
                                    <option value="Garmin Vivoactive HR">Garmin Vivoactive HR</option>
                                    <option value="Geonaute Onrhythm 110">Geonaute Onrhythm 110</option>
                                    <option value="Geonaute Onrhythm 310">Geonaute Onrhythm 310</option>
                                    <option value="Geonaute Onrhythm 410">Geonaute Onrhythm 410</option>
                                    <option value="Geonaute Onrhythm 50">Geonaute Onrhythm 50</option>
                                    <option value="Leikr GPS">Leikr GPS</option>
                                    <option value="Magellan Echo">Magellan Echo</option>
                                    <option value="Magellan Switch & Switch Up">Magellan Switch & Switch Up</option>
                                    <option value="Microsoft Band 2">Microsoft Band 2</option>
                                    <option value="Mio Alpha Optical HR Monitor">Mio Alpha Optical HR Monitor</option>
                                    <option value="Motorola Motoactv">Motorola Motoactv</option>
                                    <option value="Nike+ GPS Sportwatch">Nike+ GPS Sportwatch</option>
                                    <option value="O-Synce Navi2Coach">O-Synce Navi2Coach</option>
                                    <option value="Polar A300">Polar A300</option>
                                    <option value="Polar M400">Polar M400</option>
                                    <option value="Polar M450">Polar M450</option>
                                    <option value="Polar RC3">Polar RC3</option>
                                    <option value="Polar RCX3">Polar RCX3</option>
                                    <option value="Polar RCX5">Polar RCX5</option>
                                    <option value="Polar V650">Polar V650</option>
                                    <option value="Polar V800">Polar V800</option>
                                    <option value="Soleus 1.0 GPS">Soleus 1.0 GPS</option>
                                    <option value="Soleus 2.0 GPS">Soleus 2.0 GPS</option>
                                    <option value="Suunto Ambit">Suunto Ambit</option>
                                    <option value="Suunto Ambit2">Suunto Ambit2</option>
                                    <option value="Suunto Ambit2 R">Suunto Ambit2 R</option>
                                    <option value="Suunto Ambit2 S">Suunto Ambit2 S</option>
                                    <option value="Suunto Ambit3 Peak">Suunto Ambit3 Peak</option>
                                    <option value="Suunto Ambit3 Sport">Suunto Ambit3 Sport</option>
                                    <option value="Timex Cycle Trainer 2.0 GPS">Timex Cycle Trainer 2.0 GPS</option>
                                    <option value="Timex Global Trainer">Timex Global Trainer</option>
                                    <option value="Timex Marathon GPS">Timex Marathon GPS</option>
                                    <option value="Timex One GPS+">Timex One GPS+</option>
                                    <option value="Timex Run Trainer GPS 1.0">Timex Run Trainer GPS 1.0</option>
                                    <option value="Timex Run Trainer GPS 2.0">Timex Run Trainer GPS 2.0</option>
                                    <option value="Timex Run x20 GPS">Timex Run x20 GPS</option>
                                    <option value="Timex Run x50">Timex Run x50</option>
                                    <option value="TomTom Multisport">TomTom Multisport</option>
                                    <option value="TomTom Multisport Cardio">TomTom Multisport Cardio</option>
                                    <option value="TomTom Runner">TomTom Runner</option>
                                    <option value="TomTom Runner Cardio">TomTom Runner Cardio</option>
                                    <option value="TomTom Spark">TomTom Spark</option>
                                    <option value="Wahoo ELEMNT">Wahoo ELEMNT</option>
                                    <option value="Other" translate>Other</option>
                                   </select>
                            </div>


                            <div class="form-group">
                                <label class="control-label" translate>Running shoes trail brand</label>
                                <select ng-model="env.model.runningShoesTrailBrand" class="form-control">
                                    <option value="Adidas">Adidas</option>
                                    <option value="Altra">Altra</option>
                                    <option value="Asics">Asics</option>
                                    <option value="Brooks">Brooks</option>
                                    <option value="Columbia">Columbia</option>
                                    <option value="Dynafit">Dynafit</option>
                                    <option value="Haglöfs">Haglöfs</option>
                                    <option value="Hoka One">Hoka One</option>
                                    <option value="Icebug">Icebug</option>
                                    <option value="Inov-8">Inov-8</option>
                                    <option value="Joma">Joma</option>
                                    <option value="K-Swiss">K-Swiss</option>
                                    <option value="Kalenji">Kalenji</option>
                                    <option value="La Sportiva">La Sportiva</option>
                                    <option value="Merell">Merell</option>
                                    <option value="Mizuno">Mizuno</option>
                                    <option value="New Balance">New Balance</option>
                                    <option value="Newton">Newton</option>
                                    <option value="Nike">Nike</option>
                                    <option value="Pearl Izumi">Pearl Izumi</option>
                                    <option value="Puma">Puma</option>
                                    <option value="Reebok">Reebok</option>
                                    <option value="Salomon">Salomon</option>
                                    <option value="Saucony">Saucony</option>
                                    <option value="Scott">Scott</option>
                                    <option value="Skechers">Skechers</option>
                                    <option value="Tecnica">Tecnica</option>
                                    <option value="The North Face">The North Face</option>
                                    <option value="Under Armour">Under Armour</option>
                                    <option value="Zoot">Zoot</option>
                                    <option value="Other" translate>Other</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" translate>Running shoes trail model</label>
                                <input type="text" class="form-control" ng-model="env.model.runningShoesTrailModel"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Running shoes road brand</label>
                                <select ng-model="env.model.runningShoesRoadBrand" class="form-control">
                                    <option value="Adidas">Adidas</option>
                                    <option value="Altra">Altra</option>
                                    <option value="Asics">Asics</option>
                                    <option value="Brooks">Brooks</option>
                                    <option value="Columbia">Columbia</option>
                                    <option value="Dynafit">Dynafit</option>
                                    <option value="Haglöfs">Haglöfs</option>
                                    <option value="Hoka One">Hoka One</option>
                                    <option value="Icebug">Icebug</option>
                                    <option value="Inov-8">Inov-8</option>
                                    <option value="Joma">Joma</option>
                                    <option value="K-Swiss">K-Swiss</option>
                                    <option value="Kalenji">Kalenji</option>
                                    <option value="La Sportiva">La Sportiva</option>
                                    <option value="Merell">Merell</option>
                                    <option value="Mizuno">Mizuno</option>
                                    <option value="New Balance">New Balance</option>
                                    <option value="Newton">Newton</option>
                                    <option value="Nike">Nike</option>
                                    <option value="Pearl Izumi">Pearl Izumi</option>
                                    <option value="Puma">Puma</option>
                                    <option value="Reebok">Reebok</option>
                                    <option value="Salomon">Salomon</option>
                                    <option value="Saucony">Saucony</option>
                                    <option value="Scott">Scott</option>
                                    <option value="Skechers">Skechers</option>
                                    <option value="Tecnica">Tecnica</option>
                                    <option value="The North Face">The North Face</option>
                                    <option value="Under Armour">Under Armour</option>
                                    <option value="Zoot">Zoot</option>
                                    <option value="Other" translate>Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Running shoes road model</label>
                                <input type="text" class="form-control" ng-model="env.model.runningShoesRoadModel"/>
                            </div>

                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze" ng-disabled="env.saving==true" ng-click="save(env.model)" translate>Save Changes </a>
                                <a href="#" class="btn default" ui-sref="index" translate>Cancel </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>