<div class="content app">

    <div class="header">

        <ul class="breadcrumb">
            <li>
                <a href="#/">Home</a>
            </li>

            <li>
                <a href="#/users">Manage Users</a>
            </li>

            <li class="active">{{ env.user_id==undefined ? "Add New User" : "Edit User" }}</li>
        </ul>
        <h1 class="page-title">{{ env.user_id==undefined ? "Add User" : "Edit User" }}</h1>


    </div>

    <div class="main-content">

        <div class="alert alert-danger" role="alert" ng-show="env.error!=null">{{env.error}}</div>
        <div class="progress" ng-show="env.user_id!=undefined && env.loading==true">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Loading</span>
            </div>
        </div>

        <div ng-show="env.user_id==undefined || env.loading==false">
            <form name="userForm">
                    <div class="col-md-6">

                        <div class="form-group" ng-class="{ 'has-error': userForm.username.$invalid  }">
                            <label class="fg_col1">UserName</label>
                            <div class="fg_col2">
                                <input type="text" name="username" ng-model="env.model.username" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid  }">
                            <label class="fg_col1">Email</label>
                            <div class="fg_col2">
                                <input type="email" name="email" disabled ng-model="env.model.email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="fg_col1">Password</label>
                            <div class="fg_col2">
                                <input type="text"  ng-model="env.model.password"  name="password" class="form-control" >
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="fg_col1">Administrator</label>

                            <div class="fg_col2">
                                <select ng-model="env.model.isAdmin" class="form-control"
                                        ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">
                                </select>

                            </div>
                        </div>
                        
                        <input type="button"
                               ng-disabled="env.saving==true || userForm.$invalid"
                               ng-click="save( env.model )" value="Save" name="save" class="btn btn-default">
                        <a class="btn btn-default" href="#/users" role="button">Cancel</a>

                    </div>

            </form>
        </div>
    </div>
</div>